/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generals */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.active {
  color: rgb(0, 153, 255);
}

ul {
  display: flex;
  gap: 20px;
}
