/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Generals */
a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

ul li a:hover {
  color: rgb(12, 124, 236);
}

/* Header */
header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 25px;
}

header ul li a:hover {
  border-bottom: 3px solid rgb(12, 124, 236);
  padding-bottom: 50px;
}

.active {
  color: rgb(0, 153, 255);
  border-bottom: 3px solid rgb(12, 124, 236);
  padding-bottom: 50px;
}

figure img {
  max-width: 100%;
  height: auto;
}

/* ContentSection */
.content {
  background-color: black;
  color: white;
  min-height: 100px;
  padding-top: 20px;
}

/* ServiceSection */
.service {
  background-color: rgb(12, 124, 236);
  padding-top: 20px;
  padding-bottom: 20px;
}

.service .flex {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 5px;
}

.img-wrapper img {
  width: 90%;
}

.img-wrapper img.big {
  width: 80%;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  flex: 3;
}

.service span {
  color: white;
  flex: 9;
}

.img-wrapper .maps {
  width: 55%;
}

span.maps {
  margin-right: 1.5rem;
}

.service ul li a span:hover {
  color: black;
}

/* Utilities Links */
.utilities-links {
  background-image:
    url("./assets/img/dc-logo-bg.png"), url("./assets/img/footer-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position:
    90% 50%,
    center;
}

/* Utilities-links ***links-list*** */
.utilities-links ul li a {
  color: grey;
}

.utilities-links ul li:first-child {
  color: white;
  margin-bottom: 1rem;
}

.utilities-links ul li a:hover {
  color: white;
}

.links-list {
  display: flex;
}

.utilities-links ul {
  margin: 2rem;
}

/* ContactUs Links */
.contactus-links {
  background-color: rgb(48, 48, 48);
  min-height: 80px;
}

.contactus-links .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

button {
  color: white;
  background-color: transparent;
  border: 0.2rem solid rgb(12, 124, 236);
  padding: 1rem 2rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(12, 124, 236);
}

.follow-us-icons ul li a {
  color: rgb(12, 124, 236);
  font-size: 1.5rem;
}

.follow-us-icons ul li a:hover {
  color: black;
}

.follow-us-icons li img {
  cursor: pointer;
}

.follow-us-icons ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.3rem;
}
