/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generals */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

ul li a:hover {
  color: rgb(0, 153, 255);
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.active {
  color: rgb(0, 153, 255);
  border-bottom: 3px solid rgb(0, 153, 255);
  padding-bottom: 20px;
}

ul {
  display: flex;
  gap: 25px;
}

header ul li a:hover {
  border-bottom: 3px solid rgb(0, 153, 255);
  padding-bottom: 20px;
}

figure img {
  max-width: 100%;
  height: auto;
}

/* ContentSection */
.content {
  background-color: black;
  color: white;
  min-height: 100px;
}
