/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Generals */
a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

ul li a:hover {
  color: rgb(12, 124, 236);
}

/* Header */
header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 25px;
}

header ul li a:hover {
  border-bottom: 3px solid rgb(12, 124, 236);
  padding-bottom: 50px;
}

.active {
  color: rgb(0, 153, 255);
  border-bottom: 3px solid rgb(12, 124, 236);
  padding-bottom: 50px;
}

figure img {
  max-width: 100%;
  height: auto;
}

/* ContentSection */
.content {
  background-color: black;
  color: white;
  min-height: 100px;
  padding-top: 20px;
}

/* ServiceSection */
.service {
  background-color: rgb(12, 124, 236);
  padding: 20px;
}

.service .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 25px;
}

.img-wrapper img {
  width: 40%;
}

.img-wrapper img.big {
  width: 80%;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
}

.service .flex {
  display: flex;
  align-items: center;
}

.service span {
  color: white;
}

.service ul li a span:hover {
  color: black;
}

/* ContactUs Links */
.contactus-links {
  background-color: rgb(48, 48, 48);
  min-height: 80px;
}

/* Utilities Links */
.utilities-links {
  background-image: url("./assets/img/footer-bg.jpg");
}

.utilities-links .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20rem;
}

.dc-img img {
  width: 100%;
}

/* Utilities-links ***links-list*** */
.utilities-links ul li a {
  color: grey;
}

.utilities-links ul li:first-child {
  color: white;
  margin-bottom: 1rem;
}

.utilities-links ul li a:hover {
  color: white;
}

.links-list {
  display: flex;
}

.utilities-links ul {
  margin: 2rem;
}
